@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1D1E25;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', serif;
    padding: 16px;
    color: #eee;
}

.screen {
    display: none;
    width: 100%;
    max-width: 1000px;
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container {
    width: 100%;
    text-align: center;
    padding: 32px 24px;

    .logo {
        font-family: 'Jacques Francois', serif;
        font-size: clamp(150px, 14vw, 96px);
        color: #FFB143;
        letter-spacing: 6px;
    }

    .logo-sub {
        color: #888;
        font-size: 25px;
        font-style: italic;
        letter-spacing: 1px;
        margin-bottom: 32px;
    }

    .rules {
        padding: 24px 28px;

    }
}