@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1D1E25;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jacques Francois', serif;
    padding: 16px;
    color: #eee;
}

.screen {
    display: none;
    width: 100%;
    max-width: 500px;
}

.screen.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}