<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CODLE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/teamK/styles.css}" href="../../public/css/teamK/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet">
</head>
<body>

<div id="screen-complete" class="screen active">
    <div class="complete-container">
        <h2 class="complete-title">KLARET!</h2>
        <p class="complete-body">
            Du har været igennem alle <strong id="complete-total"></strong> ord. <br/>
            Nu er du klar til din eksamen!
        </p>
        <button id="btn-restart" class="btn-start">SPIL IGEN!</button>
    </div>
</div>

</body>
</html>