<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CODLE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/teamK/styles.css}" href="/css/teamK/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap" rel="stylesheet">
</head>
<body>

<div id="screen-game" class="screen active">

    <div class="game-header">
        <div class="logo-game">CODLE</div>
        <div id="tracker-box">
            <div id="progressTracker">færdige</div>
            <div id="attempts-tracker"></div>
        </div>
    </div>

    <div class="game-card">
        <div id="category" class="card-field"></div>
        <div id="last-guess" class="card-field"></div>
        <div id="letters" class="card-field"></div>
        <div id="hint" class="card-field"></div>
        <div id="display-screen" class="card-field"></div>
        <div id="keyboard" class="card-field"></div>

        <div id="pop-up-win" class="pop-up hidden">
            <div class="pop-up-box">
                <p class="box-title">Korrekt!</p>
                <p>Vil du fortsætte?</p>
                <button class="btn-home btn-start">Hjem</button>
                <button class="btn-continue btn-start">Fortsæt</button>
            </div>
        </div>

        <div id="pop-up-lose" class="pop-up hidden">
            <div class="pop-up-box">
                <p class="box-title">Forkert!</p>
                <p class="game-word">Ordet var:
                <p id="word-answer"></p>
                <p>Vil du fortsætte?</p>
                <button class="btn-home btn-start">Hjem</button>
                <button class="btn-continue btn-start">Fortsæt</button>
            </div>
        </div>


    </div>
</div>

<script src="/js/teamK/codle.js"></script>
</body>
</html>