<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackly</title>
    <link rel="stylesheet" href="/css/teamM/styles.css" th:href="@{/css/teamM/styles.css}"/>
</head>
<body>

<div class="page">
    <div class="logo-section">
        <img src="/images/teamM/image.png" class="logo">
    </div>

    <div class="tagline">
        <h2>Track smarter. Spend better</h2>
    </div>

    <div class="main-box">
        <a href="/teamM/add">
            <button class="btn add-btn">Add ➕</button>
        </a>

        <a href="/teamM/remove">
            <button class="btn remove-btn">Remove ❌</button>
        </a>

        <a href="/teamM/view">
            <button class="btn view-btn">View all 📋</button>
        </a>
    </div>
</div>

</body>
</html>