<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quote Generator</title>
    <link rel="stylesheet" href="/css/teamB/style.css">
</head>
<body>

<video autoplay muted loop class="background-video">
    <source src="/images/teamB/hopecore_meme_template.mp4" type="video/mp4">
</video>

<div class="app">

    <div class="credit">Motivational Quote Generator</div>

    <div class="quote" th:text="${quote}">
        You are not behind. You are becoming.
    </div>

    <form action="/teamB" method="post">
        <button type="submit">New Quote</button>
    </form>

</div>

</body>
</html>