.box-login {
    background: #252B42;
    border: 0.5px solid #787CD0;
    border-radius: 15px;

    font-family: "Roboto Condensed", Arial, sans-serif;
    container-type: inline-size;
    font-size: clamp(14px, 8cqi, 20px);
    color: #8B94B5;

    display: grid;
    justify-self: center;
    padding: 10px;
    
    width: 50vw;
}

#login{
    background: #3D7BFF;
    color: white;
}

#register{
    background: #3D7BFF;
    color: white;
}


#menu-box-login {
    
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
            "hr hr"
            "login register";

    gap: 10px;
    margin-bottom: 5px;
}

.input-box:hover {
    border: solid 0.5px #3D7BFF;
}

.button-box:hover {
    border: solid 0.5px #3D7BFF;
}

.button-box {
    margin-top: 10px;

    background: #252B42;
    border: 0.5px solid #787CD0;
    border-radius: 15px;

    font-family: "Roboto Condensed", Arial, sans-serif;
    container-type: inline-size;
    font-size: clamp(14px, 8cqi, 20px);
    color: #8B94B5;
    height: 60px;
}


.login-box {
    background: #3D7BFF;
    border: 0.5px solid #787CD0;
    border-radius: 15px;

    font-family: "Roboto Condensed", Arial, sans-serif;
    container-type: inline-size;
    font-size: clamp(14px, 8cqi, 20px);
    color: #ffffff;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login-box:hover {
    border: 0.5px solid #ffffff;
}


.input-box {
    background: #252B42;
    border: 0.5px solid #787CD0;
    border-radius: 15px;

    font-family: "Roboto Condensed", Arial, sans-serif;
    container-type: inline-size;
    font-size: clamp(14px, 8cqi, 20px);
    color: #8B94B5;
    height: 60px;
    margin-bottom: 10px;
}

#welcome-message {
    justify-self: center;
    color: #8B94B5;
    margin-top: 30px;
    margin-bottom: 30px;
}

a.button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}




#register-form-login {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
    "username-text username-text"
    "username username"
    "password-text password-text"
    "password password"
    "hr hr"
    "login-button login-button"    ;
    gap: 10px;
}

p {
    height: 20px;
    margin-bottom: auto
}

#register-form-create{
    gap: 10px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    "username-text username-text"
    "username username"
    "password-text password-text"
    "password password"
    "password-reenter password-reenter"
    "password-check password-check"
    "hr hr"
    "p p"
    "create-button create-button";
}

#error-message{
    justify-self: center;
}

#login-button{
    justify-items: center;
}