<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>Quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/teamC/styles.css}" />
</head>

<body>
<h1>SPØRGSMÅL:</h1>

<div class="question-container">
    <div class="question-box">
        <p>HER KOMMER FØRSTE SPØRGSMÅL TIL AT STÅ. <br>
            HUSK VALGMULIGHEDER SOM KLIK-MULIGHED<br>
        </p>
    </div>
</div>

<div class="clicktostart-container">
    <button type="button" id="checkBtn" class="start-btn">Check dit svar</button>
    <br><br>
    <a href="endquiz.html" th:href="@{/endquiz}" class="start-btn">Afslut quizzen</a>
</div>

</body>
</html>