
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #b79ad1, #9f7ac7);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    font-size: 3rem;
    margin-bottom: 40px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}

.btn {
    display: block;
    text-align: center;
    padding: 15px;
    background-color: #e0a85b;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #c98d3d;
    transform: scale(1.05);
}

.form-box {
    background: #ffffffcc;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
}


select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}


.hack-list {
    list-style: none;
    padding: 0;
    width: 70%;
    margin: 40px auto;
}


.hack-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffffcc;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
}


.hack-text p {
    margin-top: 5px;
}

body {
    background-color: #b79ad1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
}

.form-box {
    background: #ffffffcc;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.form-box h2 {
    margin-bottom: 20px;
}

select {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e0a85b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background-color: #c98d3d;
}