<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Coffee_Type_Cappoucciono</title>

    <link rel="stylesheet" th:href="@{/css/teamI/Stylesheet.css}">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/teamI/index}">
                <img src="/images/teamI/coffiimeLogo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/teamI/favoritsite}">Favorit</a></li>
            <li><a th:href="@{/teamI/login}"> Login </a></li>
            <li><a th:href="@{/teamI/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/teamI/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/teamI/coffeeBrands}"> Coffee Brands </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/teamI/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/teamI/creatingPanel}"> Creating Panel </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>
<main>
    <nav class="navCenter">
        <div class="menu-popup-container">
            <div id="popupMessage" class="popup-message"></div>
        </div>
    </nav>

    <nav class="navCentrum">
        <strong class="h1">Cappuccino</strong>
        <
        <div class="boxDisplayContainer">
            <div class="boxDisplay">

                <img src="/images/teamI/coffeeImage/cappuccino.png" class="bigFoto" alt="billed af cappuccino"
                     align="right"/>
                <p class="bodyText">
                    En cappuccino er en klassisk kaffedrik, der består af en espresso toppet med varm, cremet mælk og et
                    lag fint mælkeskum,
                    hvilket skaber en harmonisk balance mellem styrke og blødhed. Aromaen er fyldig og indbydende med
                    tydelige noter af espressoens ristede karakter,
                    som smelter sammen med den varme mælks sødme og giver en blød, let cremet duft med strejf af
                    chokolade og nødder. Smagen er rund og velafbalanceret,
                    hvor espressoens lette bitterhed dæmpes af mælken, som tilfører en naturlig sødme og en silkeblød
                    tekstur. Mælkeskummet giver en let luftig fornemmelse
                    i munden, samtidig med at det fremhæver kaffens dybere smagsnuancer.
                    Samlet set giver en cappuccino en cremet og behagelig kaffeoplevelse, hvor intensitet og blødhed går
                    hånd i hånd i en velafstemt helhed.

                </p>

            </div>
            <div class="boxDisplay formRecipes">
                <p class="bodyText"><strong> Kaffe Guide</strong></p>
                <p class="bodyText">Kaffebønne: 9 g</p>
                <p class="bodyText">Vand: 0,3 dl</p>
                <p class="bodyText">Mælk: 1,5 dl</p>
                <p class="top-nav"></p>
                <form id="favoritForm" class="favorite-form">
                    <input type="hidden" name="coffeetype" value="Cappuccino">
                    <button type="submit" class="favorite-btn"> Tilføj til favorit</button>
                </form>

            </div>
        </div>
    </nav>
    <p style="padding-top: 3%"></p>

</main>

<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
            <li><a th:href="@{/teamI/aboutUs}"> About us </a></li>
            <li><a th:href="@{/teamI/contactUs}"> Contact us </a></li>
        </ul>
    </div>
</footer>

<script src="/js/teamI/Favorites.js"></script>
</body>
</html>