<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Coffee_Type_Expresso</title>

    <link rel="stylesheet" th:href="@{/css/teamI/Stylesheet.css}">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/teamI/index}">
                <img src="/images/teamI/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/teamI/login}"> Login </a></li>
            <li><a th:href="@{/teamI/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/teamI/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/teamI/coffeeBrands}"> Coffee Brands </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/teamI/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/teamI/creatingPanel}"> Creating Panel </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>

<nav class="navCentrum">
    <strong class="h1">Espresso</strong>
    <div class="content">
        <p class="bodyText">
            <img src="/images/teamI/coffeeImage/espresso.png" class="bigFoto" alt="billed af espresso" align="right"/>
        En espresso er en koncentreret og intens kaffedrik, lavet ved at presse varmt vand hurtigt gennem fintmalet kaffe,
        hvilket giver en lille, men kraftfuld kop. Aromaen er dyb og kompleks med stærke ristede noter, ofte ledsaget af toner af chokolade,
        karamel eller nødder, og nogle gange med subtile frugtige eller krydrede undertoner afhængigt af bønnetypen. Smagen er markant og fyldig,
        med en karakteristisk bitterhed og en let syrlighed, som giver kaffeoplevelsen kant og dybde. Den har en intens krop og en cremet mundfornemmelse,
        ofte med et tyndt lag gyldent crema på toppen, som indkapsler aroma og smag. Samlet set giver espresso en koncentreret,
        kraftfuld og kompleks kaffeoplevelse, hvor hver slurk leverer både styrke og nuancer på én gang.
        </p>


        <div class="formRecipes">
            <p class="bodyText"><strong> Kaffe Guide</strong> </p>
            <p class="bodyText">Kaffebønne: 9 g</p>
            <p class="bodyText">Vand: 0,6 dl</p>
            <p class="bodyText">Mælk: 0 dl</p>
        </div>
    </div>
</nav>



</body>



<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a th:href="@{/teamI/aboutUs}"> About us </a></li>
                <li><a th:href="@{/teamI/contactUs}"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>

</html>