<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Coffee_Type_Expresso</title>


    <link rel="stylesheet" th:href="@{/css/teamI/Stylesheet.css}">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/teamI/index}">
                <img src="/images/teamI/coffiimeLogo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/teamI/favoritsite}">Favorit</a></li>
            <li><a th:href="@{/teamI/login}"> Login </a></li>
            <li><a th:href="@{/teamI/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/teamI/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/teamI/coffeeBrands}"> Coffee Brands </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/teamI/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/teamI/creatingPanel}"> Creating Panel </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>
<main>

<nav class="navCenter">
    <div class="menu-popup-container">
        <div id="popupMessage" class="popup-message"></div>
    </div>
</nav>

<nav class="navCentrum">
    <strong class="h1">Espresso</strong>
    <div class="boxDisplayContainer">
        <div class="boxDisplay">
            <img src="/images/teamI/coffeeImage/espresso.png" class="bigFoto" alt="billed af espresso" align="right"/>
        <p class="bodyText">
            En espresso er en koncentreret og intens kaffedrik, lavet ved at presse varmt vand hurtigt gennem fintmalet kaffe,
            hvilket giver en lille, men kraftfuld kop. Aromaen er dyb og kompleks med stærke ristede noter, ofte ledsaget af toner af chokolade,
            karamel eller nødder, og nogle gange med subtile frugtige eller krydrede undertoner afhængigt af bønnetypen. Smagen er markant og fyldig,
            med en karakteristisk bitterhed og en let syrlighed, som giver kaffeoplevelsen kant og dybde. Den har en intens krop og en cremet mundfornemmelse,
            ofte med et tyndt lag gyldent crema på toppen, som indkapsler aroma og smag. Samlet set giver espresso en koncentreret,
            kraftfuld og kompleks kaffeoplevelse, hvor hver slurk leverer både styrke og nuancer på én gang.
        </p>


    </div>
    <div class="boxDisplay formRecipes">
            <p class="bodyText"><strong> Kaffe Guide</strong> </p>
            <p class="bodyText">Kaffebønne: 9 g</p>
            <p class="bodyText">Vand: 0,6 dl</p>
            <p class="bodyText">Mælk: 0 dl</p>
        <p class="top-nav"></p>
            <form id="favoritForm" class="favorite-form">
                <input type="hidden" name="coffeetype" value="Espresso">
                <button type="submit" class="favorite-btn"> Tilføj til favorit</button>
            </form>

        </div>
    </div>
</nav>


<p style="padding-top: 3%"></p>
</main>

<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
                <li><a th:href="@{/teamI/aboutUs}"> About us </a></li>
                <li><a th:href="@{/teamI/contactUs}"> Contact us </a></li>
            </ul>

    </div>
</footer>
<script src="/js/teamI/Favorites.js"></script>
</body>
</html>