<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Coffee_Type_LatteMacchiato</title>

    <link rel="stylesheet" th:href="@{/css/teamI/Stylesheet.css}">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/teamI/index}">
                <img src="/images/teamI/coffiimeLogo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/teamI/login}"> Login </a></li>
            <li><a th:href="@{/teamI/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/teamI/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/teamI/coffeeBrands}"> Coffee Brands </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/teamI/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/teamI/creatingPanel}"> Creating Panel </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>

<nav class="navCentrum">
    <strong class="h1">Latte Macchiato</strong>
    <div class="content">
        <p class="bodyText">
            <img src="/images/teamI/coffeeImage/latteMacchiato.png" class="bigFoto" alt="billed af latte macchiato" align="right"/>
        En latte macchiato er en visuelt elegant og lagdelt kaffedrik, der laves ved at hælde en espresso forsigtigt over varm, skummet mælk,
        så espressoen “markerer” mælken. Aromaen er mild og sødlig, præget af mælkens varme og bløde noter,
        mens espressoens ristede karakter træder frem i baggrunden med subtile hints af chokolade eller karamel.
        Smagen er blød og afrundet, med mælkens naturlige sødme, der dominerer, og kun et let strejf af kaffens bitterhed,
        hvilket skaber en let og behagelig oplevelse. Teksturen er cremet og luftig på grund af det høje skumlag, og drikken har en blid,
        næsten fløjlsagtig mundfornemmelse. Samlet set er en latte macchiato en blød,
        delikat og visuelt tiltalende kaffeoplevelse, hvor espressoen giver karakter uden at overtage mælken.
        </p>


        <div class="formRecipes">
            <p class="bodyText"><strong> Kaffe Guide</strong> </p>
            <p class="bodyText">Kaffebønne: 9 g</p>
            <p class="bodyText">Vand: 2,5 dl</p>
            <p class="bodyText">Mælk: 0,3 dl</p>
        </div>
    </div>
</nav>



</body>



<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a th:href="@{/teamI/aboutUs}"> About us </a></li>
                <li><a th:href="@{/teamI/contactUs}"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>

</html>