<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>CoffiiMe_Coffee_Type_Lungo</title>

    <link rel="stylesheet" th:href="@{/css/teamI/Stylesheet.css}">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/public/images/teamI/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/coffeeBrands}"> Coffee Brands </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/creatingPanel}"> Creating Panel </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>

<nav class="navCentrum">
    <strong class="h1">Lungo</strong>
    <div class="content">
        <p class="bodyText">
            <img src="/public/images/teamI/coffeeImage/lungo.png" class="bigFoto" alt="billed af lungo" align="right"/>
        En lungo er en espressovariant, hvor der trækkes mere vand igennem kaffen, hvilket giver en større kop med mildere intensitet.
        Aromaen er stadig præget af espressoens ristede noter, men bliver mere åben og let, ofte med subtile toner af chokolade,
        nødder eller let frugtighed, der udvikler sig mere end i en almindelig espresso. Smagen er blødere og mere afrundet end en espresso,
        med mindre koncentreret bitterhed, men stadig med en markant kaffekarakter og let syrlighed.
        Mundfornemmelsen er fyldig, men ikke så kraftig som espresso,
        hvilket gør lungo til en mere drikkelig og tilgængelig kaffeoplevelse, hvor nuancerne fra kaffen træder frem på en mildere måde.
        </p>


        <div class="formRecipes">
            <p class="bodyText"><strong> Kaffe Guide</strong> </p>
            <p class="bodyText">Kaffebønne: 9 g</p>
            <p class="bodyText">Vand: 0,6 dl</p>
            <p class="bodyText">Mælk: 0 dl</p>
        </div>
    </div>
</nav>


</body>


<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a th:href="@{/aboutUs}"> About us </a></li>
                <li><a th:href="@{/contactUs}"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>

</html>