<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/teamI/Stylesheet.css}">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/index}">
                <img src="/public/images/teamI/coffiime_logo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/login}"> Login </a></li>
            <li><a th:href="@{/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/coffeeBrands}"> Coffee Brands </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/creatingPanel}"> Creating Panel </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>

<nav class="navCentrum">
    <strong class="h1">Macchiato</strong>
    <div class="content">
        <p class="bodyText">
            <img src="/public/images/teamI/coffeeImage/macchiato.png" class="bigFoto" alt="billed af Macchiato" align="right"/>
        En macchiato er en lille, koncentreret kaffedrik, der typisk består af en enkelt espresso med et lille “mærke” af mælkeskum på toppen.
        Aromaen er intens og fyldig, domineret af espressoens ristede noter, ofte med subtile hints af chokolade, karamel eller nødder,
        hvor mælken kun bløder kanterne en smule. Smagen er skarp og markant med espressoens karakteristiske bitterhed og let syrlighed,
        mens den lille mængde mælk tilføjer en let cremethed uden at overdøve kaffens dybde. Mundfornemmelsen er koncentreret og tæt,
        med et tyndt lag skum, der giver en diskret blødhed.
        Samlet set er en macchiato en intens og direkte kaffeoplevelse, hvor espressoens smagsnuancer står i centrum med kun et strejf af blødhed fra mælken.
        </p>


        <div class="formRecipes">
            <p class="bodyText"><strong> Kaffe Guide</strong> </p>
            <p class="bodyText">Kaffebønne: 9 g</p>
            <p class="bodyText">Vand: 0,3 dl</p>
            <p class="bodyText">Mælk: 0,15 dl</p>

        </div>
    </div>
</nav>



</body>



<footer>
    <div class="footer-content">

        <nav class="navbar">
            <ul class="footer">
                <li><a th:href="@{/aboutUs}"> About us </a></li>
                <li><a th:href="@{/contactUs}"> Contact us </a></li>
            </ul>
        </nav>
    </div>
</footer>

</html>