<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/teamI/Stylesheet.css}">
</head>

<body>


<header>
    <div class="header">
        <div class="logoplace">
            <a th:href="@{/teamI/index}">
                <img src="/images/teamI/coffiimeLogo.png" class="logoSize">
            </a>
        </div>


        <ul class="account">
            <li><a th:href="@{/teamI/favoritsite}">Favorit</a></li>
            <li><a th:href="@{/teamI/login}"> Login </a></li>
            <li><a th:href="@{/teamI/createAccount}"> Create Account </a></li>
        </ul>
    </div>


    <ul class="menu">
        <div class="left">
            <li><a th:href="@{/teamI/coffeeType}"> Coffee Type </a></li>
            <li><a th:href="@{/teamI/coffeeBrands}"> Coffee Brands </a></li>
        </div>


        <div class="right">
            <li><a th:href="@{/teamI/colorPanel}"> Color Panel </a></li>
            <li><a th:href="@{/teamI/creatingPanel}"> Creating Panel </a></li>
        </div>
    </ul>


    <nav class="navCenter">
        <div class="menuLine">
            <span class="diamond"></span>
        </div>
    </nav>

</header>
<main>
    <nav class="navCenter">
        <div class="menu-popup-container">
            <div id="popupMessage" class="popup-message"></div>
        </div>
    </nav>

    <nav class="navCentrum">
        <strong class="h1">Mocha</strong>
        <div class="boxDisplayContainer">
            <div class="boxDisplay">

                <img src="/images/teamI/coffeeImage/mocha.png" class="bigFoto" alt="billed af Mocha" align="right"/>
                <p class="bodyText">
                    En mocha er en lækker og dekadent kaffedrik, der kombinerer espresso med varm mælk og chokolade,
                    ofte toppet med skum eller flødeskum. Aromaen er rig og indbydende, hvor espressoens ristede noter
                    smelter sammen med chokoladens sødme,
                    hvilket skaber en dyb, næsten dessertagtig duft med hints af kakao og karamel. Smagen er fyldig og
                    sød,
                    men stadig med kaffens karakteristiske bitterhed som kontrast til chokoladens runde, bløde noter.
                    Teksturen er cremet og silkeblød,
                    og drikken giver en varm, trøstende mundfornemmelse, hvor kaffe og chokolade smelter harmonisk
                    sammen. Samlet set er en mocha en rig,
                    velafbalanceret og komfortabel kaffeoplevelse, perfekt til dem, der ønsker både koffein og sødme i
                    én kop.
                </p>

            </div>
            <div class="boxDisplay formRecipes">
                <p class="bodyText"><strong> Kaffe Guide</strong></p>
                <p class="bodyText">Kaffebønne: 18 g</p>
                <p class="bodyText">Vand: 0,6 dl</p>
                <p class="bodyText">Mælk: 2 dl</p>
                <p class="top-nav"></p>
                <form id="favoritForm" class="favorite-form">
                    <input type="hidden" name="coffeetype" value="Mocha">
                    <button type="submit" class="favorite-btn"> Tilføj til favorit</button>
                </form>

            </div>
        </div>
    </nav>

    <p style="padding-top: 3%"></p>
</main>

<footer class="footer">
    <div class="footer-content">
        <ul class="footer-links">
            <li><a th:href="@{/teamI/aboutUs}"> About us </a></li>
            <li><a th:href="@{/teamI/contactUs}"> Contact us </a></li>
        </ul>
    </div>
</footer>

<script src="/js/teamI/Favorites.js"></script>
</body>
</html>