<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sub Stats - Login</title>
    <link rel="stylesheet" href="/public/css/teamA/generalStyles.css" th:href="@{/css/teamA/generalStyles.css}"/>
    <link rel="stylesheet" href="/public/css/teamA/loginStyles.css" th:href="@{/css/teamA/loginStyles.css}"/>
</head>

<body>
<header>
    <div th:replace="~{teamA/fragments :: backbutton('/')}"></div>
    <div th:replace="~{teamA/fragments :: logo}"></div>
    <div th:replace="~{teamA/fragments :: dayAndNight}"></div>
</header>


<div class="box-login">
    <h1 id="welcome-message">Velkommen til SubStats</h1>
    
    <div id="menu-box-login">
        <hr class="divider">
        <a class="button-box" style="grid-area: login" th:href="@{/teamA/login}">Log Ind</a>
        <button id="register" class="button-box" style="grid-area: register">Opret bruger</button>
    </div>
    <form id="register-form-create" action="/teamA/register" method="post">


        <p class="text" style="grid-area: username-text">BRUGERNAVN</p>
        <input class="input-box" type="text" name="username" style="grid-area: username" placeholder="eg. bruger1234">
        
        <input class="input-box" type="password" name="password" style="grid-area: password" placeholder=" •••••••••••">
        
        <input class="input-box" type="password" name="password-check" style="grid-area: password-check" placeholder=" •••••••••••">
        
        <p style="grid-area: password-text">ADGANGSKODE</p>
        <hr class="divider" style="grid-area: hr">
        <p style="grid-area: password-reenter">SKRIV ADGANGSKODE IGEN</p>
        <p id="error-message" style="grid-area: p" th:text="${errorMessage}"></p>
        <button type="submit" id="create-button" style="grid-area: create-button" class="login-box">Opret Bruger</button>
    </form>

    
    

</div>


</body>

</html>
