<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="/public/css/teamA/generalStyles.css" th:href="@{/css/teamA/generalStyles.css}"/>
</head>

<body>
<header>
    <div th:replace="~{teamA/fragments :: backbutton('/')}"></div>
    <div th:replace="~{teamA/fragments :: logo}"></div>
    <div th:replace="~{teamA/fragments :: dayAndNight}"></div>
</header>

</body>

</html>