<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se video</title>
    <link href="src/main/resources/public/css/teamG/styles.css" th:href="@{css/main-page/styles.css}" rel="stylesheet"/>

</head>
<body>
<div id="showVideo">
    <div id="content">
        <h1>Lifehackception</h1>
        <form method="post">
            <button onclick="history.back()">Tilbage</button>
            <button onclick="">Gem til favorit</button>
        </form>

    </div>
</div>

</body>
</html>