<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="src/main/resources/public/css/teamG/styles.css"
          th:href="@{css/main-page/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <h1 class="header">Hack of Life</h1>

    <div class="container">

        <button>katagori</button>
        <button>favoritter</button>
        <button>Random</button>

    </div>
</div>
</body>
</html>