<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Se video</title>
    <link rel="stylesheet" th:href="@{/css/teamG/styles.css}">
    <link rel="stylesheet" href="@{/css/teamG/styles.css}">

</head>
<body>
<div class="wrapper">
    <div id="content">
        <h1>Lifehackception</h1>
        <form method="post">
            <h2 src></h2>
            <iframe width="300" height="200" src="https://www.youtube.com/embed/hOSITiTpVeY"></iframe>
            <button onclick="history.back()">Tilbage</button>
            <button >Gem til favorit</button>

        </form>

    </div>
</div>

</body>
</html>